# DronaHQ Environment File
BUILDER_URL=http://localhost

MYSQL_HOST=dronahq-self-hosted-mysqldb
MYSQL_USER=dronahq
MYSQL_PASSWORD=
MYSQL_DATABASE=db5x
MYSQL_PORT=3306

MONGODB_HOST=dronahq-self-hosted-mongodb
MONGODB_USER=dronahq
MONGODB_PASSWORD=
MONGODB_DATABASE=db5x_studio
MONGODB_PORT=27017

# Default variables required for Mongo and MySQL container
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=db5x

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=db5x_studio

# Your dronahq license key here
LICENSE_KEY=

# Add other environment variables
# Reference: https://docs.dronahq.com/self-hosted-deployment/environment-variables
#