# DronaHQ Environment File
BUILDER_URL=http://localhost

MYSQL_HOST=dronahq-self-hosted-mysqldb
MYSQL_USER=dronahq
MYSQL_PASSWORD=<random password>
MYSQL_DATABASE=dronahq_internal

MONGODB_HOST=dronahq-self-hosted-mongodb
MONGODB_USER=dronahq
MONGODB_PASSWORD=<random password>
MONGODB_DATABASE=dronahq_internal

# (mandatory for db container)Default variables required for Mongo and MySQL container
MYSQL_ROOT_PASSWORD=<random password>

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=<random password>
MONGO_INITDB_DATABASE=dronahq_internal

# Your dronahq license key here
LICENSE_KEY=<your license key>

# Add other environment variables
# Reference: https://docs.dronahq.com/self-hosted-deployment/environment-variables
#